<app-menu></app-menu>
<div class="main-container">
    <app-logout-bar [title]=title></app-logout-bar>
    <div class="content">
        <div class="card">
            <div class="card-header">
                <div>
                    <a routerLink="/licenses/add" class="btn-rad btn-blue btn-secundary">Registrar licencia</a>
                </div>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th width="5%">No.</th>
                            <th width="20%">Software</th>
                            <th width="15%">Meses de validez</th>
                            <th width="20%">Comercial/Libre</th>
                            <th width="20%">Cliente/Servidor</th>
                            <th width="20%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let license of licenses; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{license.software}}</td>
                            <td>{{license.months_validity}}</td>
                            <td>{{license.free_commercial}}</td>
                            <td>{{license.client_server}}</td>
                            <td>
                                <a class="btnAction edit"><i class="fas fa-edit"></i></a>
                                <button class="btnAction delete"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>