<app-menu></app-menu>
<div class="main-container">
    <app-logout-bar [title]=title></app-logout-bar>
    <div class="content">
        <div class="card">
            <div class="card-header">
                <div>
                    <a routerLink="/users/add" class="btn-rad btn-blue btn-secundary">Registrar usuario</a>
                </div>
                <div class="filters">
                    <label>Filtros</label>
                    <select name="selectDependencie" [(ngModel)]="selectDependencie" (change)="getUsersForDependencie($event.target.value)">
                        <option value="" selected>Cualquier dependencia</option>
                        <option value="{{dependencie.name_dependencie}}" *ngFor="let dependencie of dependencies">
                            {{dependencie.name_dependencie}}</option>
                    </select>
                    <select name="selectStatus" [(ngModel)]="selectStatus" (change)="getUsersForStatus($event.target.value)">
                        <option value="" selected>Cualquier estado</option>
                        <option value="Activo">Activo</option>
                        <option value="Bloqueado">Bloqueado</option>
                    </select>
                    <select name="selectTypeUser" [(ngModel)]="selectTypeUser" (change)="getUsersForTypeUser($event.target.value)">
                        <option value="" selected>Cualquier usuario</option>
                        <option value="Tecnico">Técnico</option>
                        <option value="Funcionario">Funcionario</option>
                    </select>
                </div>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th width="5%">No.</th>
                            <th width="30%">Nombre</th>
                            <th width="25%">Dependencia</th>
                            <th width="10%">Estado</th>
                            <th width="15%">Tipo de usuario</th>
                            <th width="15%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.name_dependencie}}</td>
                            <td>{{user.status}}</td>
                            <td>{{user.type_user}}</td>
                            <td>
                                <a [routerLink] = "['/users/edit/', user.id_user]" class="btnAction edit"><i class="fas fa-edit"></i></a>
                                <button class="btnAction delete" (click) = "deleteUser(user.id_user)"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>