<app-menu></app-menu>
<div class="main-container">
    <app-logout-bar [title]=title></app-logout-bar>
    <div class="content">
        <div class="card">
            <form>
                <div class="group-input">
                    <label>Email:</label>
                    <input type="email" name="user.email" [(ngModel)] = "user.email">
                </div>
                <div class="group-input">
                    <label>Nombre:</label>
                    <input type="text" name="user.name" [(ngModel)] = "user.name">
                </div>
                <div class="group-input" *ngIf = "edit == false">
                    <label>Contraseña:</label>
                    <input type="password" name="user.password" [(ngModel)] = "user.password" disabled>
                    <button class="btn-secundary" (click) = "generatePassword()">Generar contraseña</button>
                </div>
                <div class="group-input">
                    <label>Tipo de usuario:</label>
                    <select name="user.type_user" [(ngModel)] = "user.type_user">
                        <option value="" selected>Seleccione un tipo de usuario</option>
                        <option value="Tecnico">Tecnico</option>
                        <option value="Funcionario">Funcionario</option>
                    </select>
                </div>
                <div class="group-input">
                    <label>Dependencia:</label>
                    <select name="user.dependencies_id_dependencie" [(ngModel)] = "user.dependencies_id_dependencie">
                        <option value="0" selected>Seleccione una dependencia</option>
                        <option value="{{dependencie.id_dependencie}}" *ngFor = "let dependencie of dependencies">{{dependencie.name_dependencie}}</option>
                    </select>
                </div>
                <div class="group-buttons">
                    <button class="btn-primary btn-blue" (click) = "edit ? updateUser() : addUser()">Guardar</button>
                    <a routerLink="/users" class="btn-primary btn-red">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>