<div class="form-section">
    <div class="fs-title">Configuración de red</div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th width="20%">Nombre del equipo</th>
                        <th width="10%">¿En red?</th>
                        <th width="20%">Dirección IP</th>
                        <th width="20%">Dirección MAC</th>
                        <th width="20%">Conexión a internet</th>
                        <th width="10%">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{computer.name_machine}}</td>
                        <td>{{inNetwork}}</td>
                        <td>{{computer.ip_direction}}</td>
                        <td>{{computer.mac_direction}}</td>
                        <td>{{computer.internet_type_connection}}</td>
                        <td>
                            <button *ngIf = "inNetwork == 'Si'" class="btnAction edit" (click) = "showUpdateNetworkConfiguration()"><i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form *ngIf = "editConfigureNetwork == true && inNetworkBool == true" class="animated fadeIn">
                <div class="fs-fields">
                    <div class="fs-content">
                        <div class="group-input">
                            <label>Nombre del equipo: <span>*</span></label>
                            <input type="text" name="computer.name_machine" [(ngModel)] = "computer.name_machine">
                        </div>
                        <div class="group-input">
                            <label>Dirección IP: <span>*</span></label>
                            <input type="text" name="computer.ip_direction" [(ngModel)] = "computer.ip_direction">
                        </div>
                    </div>
                    <div class="fs-content">
                        <div class="group-input">
                            <label>Dirección MAC: <span>*</span></label>
                            <input type="text" name="computer.mac_direction" [(ngModel)] = "computer.mac_direction">
                        </div>
                        <div class="group-input">
                            <div>
                                <label>Conexión a internet: <span>*</span></label>
                                <select name="computer.internet_type_connection" [(ngModel)] = "computer.internet_type_connection">
                                    <option value="">Cualquier conexión</option>
                                    <option value="Banda ancha o cable">Banda ancha o cable</option>
                                    <option value="Satelital">Satelital</option>
                                    <option value="DSL">DSL</option>
                                    <option value="Inalambrica">Inalambrica</option>
                                    <option value="No tiene">No tiene</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-buttons action">
                    <button class="btn-primary btn-blue" (click)="updateNetworkConfiguration()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>