<div class="center-vert">
    <img src="../../../assets/img/fondo2.png" alt="fondo" class="img-backgroud">
    <div class="container-login divjoin animated fadeIn">
        <div class="dj45">
            <img src="../../../assets/img/fondo1.jpg" alt="fondo">
            <div class="info">
                <div class="isotipo">
                    <i class="fas fa-dice-d20"></i>
                </div>
                <div class="title">
                    <h4>Servidesk</h4>
                </div>
                <div class="description">
                    <p>Bienvenidos a SERVIDESK, el software de soporte técnico de TI Para todas sus necesidades.</p>
                    <p>Un sistema completo de soporte técnico de TI con gestión de inventario, gestión de incidentes,
                        informes y más</p>
                </div>
            </div>
        </div>
        <div class="dj55 login">
            <div class="vert-center">
                <form action="/" method="POST">
                    <div class="titulo">
                        <h4>Ingrese con su cuenta</h4>
                    </div>
                    <div class="group-input">
                        <i class="fas fa-user"></i> <input type="email" name="email" placeholder="Correo"
                            autocomplete="off" autofocus required>
                    </div>
                    <div class="group-input">
                        <i class="fas fa-lock"></i> <input type="password" name="password" placeholder="Contraseña"
                            autocomplete="off" required>
                    </div>
                    <div class="group-input">
                        <button type="submit" class="btn-rad btn-blue btn-block">Iniciar Sesión</button>
                    </div>
                </form>
                <div class="forgetPass">
                    <a href="/">Olvidé mi contraseña</a>
                </div>
            </div>
        </div>
    </div>
</div>