<app-menu></app-menu>
<div class="container">
    <app-logout-bar></app-logout-bar>
    <div class="content">
        <div class="card">
            <div class="card-header">
                <a routerLink="/add-dependencie" class="btn-rad btn-blue btn-secundary">Agregar dependencia</a>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th width="10%">No.</th>
                            <th width="70%">Dependencia</th>
                            <th width="20%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Sistemas</td>
                            <td>
                                <a routerLink="/edit-dependencie"><i class="fas fa-edit"></i></a>
                                <a routerLink="/delete-dependencie"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Sistemas</td>
                            <td>
                                <a routerLink="/edit-dependencie"><i class="fas fa-edit"></i></a>
                                <a routerLink="/delete-dependencie"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Sistemas</td>
                            <td>
                                <a routerLink="/edit-dependencie"><i class="fas fa-edit"></i></a>
                                <a routerLink="/delete-dependencie"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>