<app-menu></app-menu>
<div class="main-container">
    <app-logout-bar [title]=title></app-logout-bar>
    <div class="content">
        <div class="card">
            <div class="card-header">
                <a routerLink="/dependencie/add" class="btn-rad btn-blue btn-secundary">Agregar dependencia</a>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th width="10%">No.</th>
                            <th width="70%">Dependencia</th>
                            <th width="20%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dependencie of dependencies; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{dependencie.name}}</td>
                            <td>
                                <a routerLink="/dependencie/edit/{{dependencie.id}}" class="btnAction edit"><i class="fas fa-edit"></i></a>
                                <button class="btnAction delete" (click)="deleteDependencie(dependencie.id)"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>