<app-menu></app-menu>
<div class="main-container">
    <app-logout-bar [title]=title></app-logout-bar>
    <div class="content">
        <div class="card">
            <form>
                <div class="group-input">
                    <label>Nombre de la dependencia:</label>
                    <input type="text" name="name_dependencie" [(ngModel)]="dependencie.name_dependencie">
                </div>
                <div class="group-buttons">
                    <button class="btn-primary btn-blue" (click)="updateDependencie(dependencie.id)">Actualizar</button>
                    <a routerLink="/dependencies" class="btn-primary btn-red">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>