<app-menu></app-menu>
<div class="main-container">
    <app-logout-bar></app-logout-bar>
    <div class="content">
        <div class="card">
            <form>
                <div class="group-input">
                    <label>Nombre de la dependencia:</label>
                    <input type="text" id="name-dependencie">
                </div>
                <div class="group-buttons">
                    <button type="submit" class="btn-primary btn-blue">Actualizar</button>
                    <a routerLink="/dependencies" class="btn-primary btn-red">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>