<div class="menu">
    <div class="logotipo">
        <span><i class="fas fa-dice-d20"></i>Servidesk</span>
    </div>
    <div class="infoUser">
        <div>
            <p class="name">Ruben Rodriguez</p>
            <p class="typeUser">Administrador</p>
        </div>
    </div>
    <div class="actions">
        <ul>
            <li class="head-menu">
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="text">
                    <label>Administración de usuarios</label>
                </div>
            </li>
            <ul>
                <li><a routerLink="/dependencies" routerLinkActive="active">Dependencias</a></li>
                <li><a routerLink="/users" routerLinkActive="active">Usuarios</a></li>
            </ul>
        </ul>
        <ul>
            <li class="head-menu">
                <div class="icon">
                    <i class="fas fa-server"></i>
                </div>
                <div class="text">
                    <label>Administración de la plataforma TI</label>
                </div>
            </li>
            <ul>
                <li><a routerLink="/hardware" routerLinkActive="active">Hardware</a></li>
                <li><a routerLink="/licenses" routerLinkActive="active">Licencias</a></li>
                <li><a routerLink="/software" routerLinkActive="active">Software</a></li>
                <li><a routerLink="/communications" routerLinkActive="active">Comunicaciones</a></li>
                <li><a routerLink="/indicatorsTI" routerLinkActive="active">Indicadores</a></li>
            </ul>
        </ul>
        <ul>
            <li class="head-menu">
                <div class="icon">
                    <i class="fas fa-cogs"></i>
                </div>
                <div class="text">
                    <label>Mantenimiento y soporte técnico</label>
                </div>
            </li>
            <ul>
                <li><a routerLink="/incidents" routerLinkActive="active">Incidencias</a></li>
                <li><a routerLink="/maintenance" routerLinkActive="active">Mantenimiento preventivo</a></li>
                <li><a routerLink="/indicatorsMan" routerLinkActive="active">Indicadores</a></li>
            </ul>
        </ul>
    </div>
</div>